
body {
  margin: 50px;
  background-image: url("../data/background.png");
}

div#title-box {
  width: 100%;
  text-align: center;
}

span#title {
  font-size: 1.5em;
}

div#description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

div#container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div.column-spacer {
  margin-left: 5em;
}

div.left-column div.right-column {
  display: block;
}

div.left-column {
  margin-left: auto;
}

div.right-column {
  margin-right: auto;
}

div#input {
  width: 20em;
}

div#output {
}

span.box-caption {
}

div.box, span.button {
  border: solid;
  border-radius: 5px;
}

div.options-box, span.button {
  background-color: #ffffff1f;
  padding: 5px;
}

div.options-box {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
}

div.button-container {
  display: flex;
  width: 100%;
}

span.button {
  display: inline-block;
}

span.button:hover {
  cursor: pointer;
  background-color: #ffffffff;
}

span#button-download {
  margin: 10px auto 0;
}

div.option-label {
  float: left;
  clear: left;
}

div#options-list {
  display: flex;
}

div#options-list div.option {
  margin-top: 5px;
}

select.option {
  float: left;
  clear: left;
}

div#preview-box {
  display: block;
  background-color: darkgreen;
}

div#footer {
  margin-top: 50px;
  text-align: center;
  font-size: small;
}

p.section {
  font-size: large;
  text-decoration: underline;
}

p.small {
  font-size: small;
}
