
body {
  margin-left: 50px;
  margin-right: 50px;
  background-image: url("../data/background.png");
}

div#title-box {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

span#title {
  font-size: 1.5em;
}

div#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

div#options-box {
  width: 20em;
  border: solid;
}

div#options-list {
  display: block;
}

div#options-list div.option {
  margin-top: 5px;
}

div#preview-box {
  border: solid;
}

div#footer {
  margin-top: 50px;
  text-align: center;
  font-size: small;
}
